@import url(bootstrap.min.css);
@import url(font.css);

body { background-color: rgb(255,255,255);}

.logo { display: block; }
.logo h1 {
	text-align:center;
	margin-top: 10px;
    margin: 4 auto;
    font-size: 22px;
	color:white;
	font-family:'Alibaba PuHuiTi R'
}
.jumpto{
    position: relative;
    top: -60px;
}
.templatemo-content-wrapper {
    float: left;
    width: 100%;
}
.templatemo-content {
    margin-left: 210px;
    margin-top: 0px;
    min-height: 600px;
    padding: 55px 80px 0 80px;
    background-color: white;
    overflow-x: hidden;
}
.templatemo-footer {
    clear: both;
    font-size: 16px;
    padding: 15px 0 5px 0;
    text-align: center;
    color: black;
    background-color: #C6E2FF;
}

.navbar {
    margin-top: 0;
    border-radius: 0;
	border:0px;
	min-height:0px;
}
.navbar-header { background-color: #8DB6CD;width:100%;height:40px; border:0px;}
.templatemo-sidebar {
    padding: 0;
    margin-top: 60px;
    height:1000px;
}
.mm{
	 padding: 0;
	height:240px;
	border:0px solid black;
	
}
.templatemo-sidebar a{
	font-family:'Alibaba PuHuiTi R'
}

.caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent}
 .badege{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent}
.templatemo-sidebar .templatemo-sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:rgb(255,255,255) ;/*灰色---*/
}

.templatemo-sidebar .templatemo-sidebar-menu > li > a {
    display: block;
    position: relative;
    margin: 0 2px;
    border: 0px;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;    
}
.templatemo-sidebar-menu a { color:black ;  text-decoration:none;}


.templatemo-submenu { padding-left:0; }
.templatemo-submenu a{ font-size: 14.5px;}
.templatemo-submenu-submenu{ padding-left:0;}
.templatemo-submenu-submenu  a{
	display: block;
    position: relative;
    text-decoration: none;
    font-size: 13.5px;
    font-weight: 300; 
	/* text-indent:20px; */
	}
.templatemo-submenu li {
    list-style: none;
    background-color: rgb(255,255,255);
}
.templatemo-submenu-submenu li {
    list-style: none;
    background-color:rgb(255,255,255) ;/*灰色---*/
}
.templatemo-submenu li a {
    display: block;
    padding: 10px 10px;
    margin: 0;

}


.templatemo-sidebar .templatemo-sidebar-menu >li.hover, .templatemo-sidebar .templatemo-sidebar-menu>li>a:hover {
    background-color: #C6E2FF;/*天蓝色---*/
}

.templatemo-submenu li:hover {
    background-color: #C6E2FF;
}

.templatemo-submenu-submenu li:hover {
    background-color: #C6E2FF;
}
.templatemo-sidebar .templatemo-sidebar-menu > li > a > i {
    font-size: 18px;
    top: 2px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 4px;
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

.biaoyu{margin-top:100px;}
p.paragraph {line-height: 1.8em;margin-bottom: 2px;font-family: 'Alibaba PuHuiTi R';font-size: 18px}
p.paragraph1 {font-size: 22px;line-height: 1.5em;font-family: 'Alibaba PuHuiTi R';}
p.paragraph2 {font-size: 20px;line-height: 1.5em;font-family: 'Alibaba PuHuiTi R';}
p.paragraph3 {text-indent: 2em;font-size: 18px;line-height: 1.8em;font-family: 'Alibaba PuHuiTi R';}
p.paragraph4 {font-size: 18px;line-height: 1.8em;font-family: 'Alibaba PuHuiTi R';}
p.paragraph5 {text-indent: 3em;font-size: 16px;line-height: 1.5em;font-family: 'Alibaba PuHuiTi R';}
p.paragraph6 {text-indent: 2em;font-size: 16px;line-height: 1.5em;word-break:break-all;font-family: 'Alibaba PuHuiTi R';}
p.by{font-family: 'Alibaba PuHuiTi R';font-size: 24px;text-align:center;font-style:italic;color: #104E8B}
p.paragraph a:link,p.paragraph a:visited,p.paragraph a:hover,p.paragraph a:active{text-decoration:none;}
p.paragraph2 a:link,p.paragraph a:visited,p.paragraph a:hover,p.paragraph a:active{text-decoration:none;}
p{margin:0;padding:0;font-family:'Alibaba PuHuiTi R';font-size: 18px;line-height: 2em;margin-bottom: 2px;}
p.minhead{font-size: 18px;line-height: 2em;font-family: 'Alibaba PuHuiTi R';}
#page{page-break-after: always;}
#form{text-align:center;}
img.chcc{width:25%;height:25%}

img.middle4{position:relative;margin-left:400px}
p.head {text-align: right; color: grey; font-family: 'Alibaba PuHuiTi R';margin-bottom:-20px}
img.logo {height: 60px;margin-top:-15px;margin-left:-60px}
img.logo3{height: 40px;margin-top:-5px}
img.logo4{height:20px;margin-top:-30px;}
.aa {font-family: 'Alibaba PuHuiTi R';font-size: 35px;margin-top:5px;color: white;margin-left:15px;}
.aa a{color: white;}
.aa a:hover{text-decoration:none;color:#ADD8E6}
.aa a:visited{text-decoration:none;}
.aa a:active{text-decoration:none;}
.aa a:link{text-decoration:none;}
.foot a:hover{text-decoration:none;}
.ab {font-family: 'Alibaba PuHuiTi R';font-size: 18px;margin-top:25px;color: white;margin-right:15px;}
.copyright_line {
    float: left;
    width: 5px;
    height: 45px;
    background-color:red;
    margin-top: 17px;
    margin-right:10px;
}
p.chart {text-align:center;font-family: 'Alibaba PuHuiTi R';font-size: 18px;}
table {font-family: 'Alibaba PuHuiTi R';font-size: 17px;border-collapse: collapse;border-bottom: 2px solid #A7C942;border-top: 2px solid #A7C942;}

table a:link,table a:visited,table a:hover,table a:active{text-decoration:none;}

td,th {
    padding: 0;
}
.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #A7C942;
}
 
.pure-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: center;
}
 
.pure-table td,.pure-table th {
    border-left: 1px solid #A7C942;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}
 
.pure-table thead {
    background-color: #A7C942;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
 
.pure-table td {
    background-color: transparent;
}
 
.pure-table-bordered td {
    border-bottom: 1px solid #A7C942;
}
 
.pure-table-bordered tbody>tr:last-child>td {
    border-bottom-width: 0;
}    
h2{font-family:'Alibaba PuHuiTi R';font-size: 40px;font-weight:bold}
h3{font-size: 32px;font-family:'Alibaba PuHuiTi R';font-weight:bold}
h4{font-size: 26px;font-family:'Alibaba PuHuiTi R';font-weight:bold}
h5{font-family:'Alibaba PuHuiTi R';font-size: 60px;font-weight:bold}
p.foot{font-size: 16px;font-family:'Alibaba PuHuiTi R';font-weight:bold}
.myhide{
	display: block; 
	
}
.myhide2{
	display:none;
}
.templatemo-sidebar-menu::-webkit-scrollbar {
		  width: 0px;
}
.mm::-webkit-scrollbar {
		  width: 0px;
}
.border::-webkit-scrollbar {
		  width: 0px;
}
#sy {font-family: 'Alibaba PuHuiTi R';padding-bottom:180px;padding-top:30px}
#sy table{margin:10px auto;}
#sy td{text-align:center;}
td.you{padding:0 10px;}td.zuo{text-align:right;}
/* 4. Maps
------------------------------------------------------*/
.jqvmap-zoomin, .jqvmap-zoomout {
    width: 15px;
    height: 15px;
}
.vmap { height: 400px; }

/* 5. Media Queries
------------------------------------------------------*/
@media screen and (min-width: 992px) {
    .templatemo-sidebar {
        width: 210px;
        float: left;
        position: relative;
        margin-right: -100%;
    }
}
@media screen and (max-width: 991px) {
    .navbar-form {
        padding: 0;
        margin-left: 0;
    }
    .navbar-header {
		float: none;
		margin-top:0px;
	}
    .navbar-toggle { display: block; }
    .templatemo-sidebar {
        border-top: 0 !important;
        margin: 20px;
    }
    .templatemo-sidebar.navbar-collapse.collapse {
        display: none !important;
    }
    .templatemo-sidebar.navbar-collapse.in {
        border-top: 0 !important;
        margin: 20px;
        position: relative;
        overflow: hidden !important;
        overflow-y: auto !important;
        display: block !important;
    }
    .templatemo-content-wrapper { float: none; }
    .templatemo-content { margin: 0; }
}
@media screen and (max-width: 767px) {
    .templatemo-chart-box {
        padding-right: 0;
    }
}

